<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syh.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.syh.bean.Permission">
        <id column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="parentid" property="parentid" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectOne" parameterType="java.lang.Integer" resultType="permission">
        SELECT * FROM Permission WHERE pid=#{pid,jdbcType=INTEGER}
    </select>

    <update id="updateOne" parameterType="permission">
        UPDATE Permission
        <set>
            <if test="pname != null" >
                pname = #{pname,jdbcType=VARCHAR},
            </if>
            <if test="path != null" >
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null" >
                parentid = #{parentid,jdbcType=INTEGER},
            </if>
        </set>
        where pid = #{pid,jdbcType=INTEGER}
    </update>

    <insert id="insertSelective" parameterType="com.syh.bean.Permission">
        insert into Permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                pid,
            </if>
            <if test="pname != null">
                pname,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="parentid != null">
                parentid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="pname != null">
                #{pname,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
</mapper>